*{
margin:0;
padding: 0;
box-sizing: border-box;

}
html{
font-family: "Helvetica Neue",Helvetica,Arial;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
background-image: linear-gradient(135deg,#FCC575,#4758CF);
}
.btn{
    width: 146px;
    height: 58px;
    margin:auto;
    background-color:#fff;
    text-align: center;
    line-height: 58px;
    font-size:20px;
    outline: none;
    cursor:pointer;
    border-radius: 5px;
 
}
.introduce{
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
    display:none;
}
.notice{
    width: 450px;
    margin: 200px auto;
}
.notice .header{
    background-color: #E26E70;
    line-height: 52px;
    color:  #fff;
}
.notice .footer{
   background-color:#fff;
height:148px;
position: relative;
}
.footer h1{
    color:#E26E70;
    font-size: 30px;
    padding: 12px;
}
p {
    padding: 0 0 0 12px;
    font-size: 20px;
}
button{
    position: absolute;
    right:12px;
    width: 77px;
    height: 27px;
}